################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/InfernosGameInicio/FileContentIndex/5f1a4803-e0e4-4da9-8418-8f211a21a798.vsidx
/.vs/InfernosGameInicio/FileContentIndex/3a393bb2-7b96-448e-a2ea-362ce1978b57.vsidx
/.vs/InfernosGameInicio/FileContentIndex/65178a7b-d518-44cd-b3b4-693ec60f148b.vsidx
/.vs/InfernosGameInicio/FileContentIndex/9f74b946-8be8-4376-9d1d-66130f762fd3.vsidx
/.vs/InfernosGameInicio/FileContentIndex/e3ba7bda-737c-49f4-b414-2b5ff21569fb.vsidx
/.vs/InfernosGameInicio/FileContentIndex/3a393bb2-7b96-448e-a2ea-362ce1978b57.vsidx
/.vs/InfernosGameInicio/FileContentIndex/3a393bb2-7b96-448e-a2ea-362ce1978b57.vsidx
/.vs/InfernosGameInicio/FileContentIndex/5f1a4803-e0e4-4da9-8418-8f211a21a798.vsidx
/.vs/InfernosGameInicio/FileContentIndex/3a393bb2-7b96-448e-a2ea-362ce1978b57.vsidx
/.vs/InfernosGameInicio/FileContentIndex/5f1a4803-e0e4-4da9-8418-8f211a21a798.vsidx
/.vs/InfernosGameInicio/FileContentIndex/65178a7b-d518-44cd-b3b4-693ec60f148b.vsidx
/.vs/InfernosGameInicio/FileContentIndex/9f74b946-8be8-4376-9d1d-66130f762fd3.vsidx
/.vs/InfernosGameInicio/FileContentIndex/e3ba7bda-737c-49f4-b414-2b5ff21569fb.vsidx
/.vs/InfernosGameInicio/FileContentIndex/3a393bb2-7b96-448e-a2ea-362ce1978b57.vsidx
